@import "tailwindcss";

:root {
  --footer-bg: #101c3f;
  --secondary-bg-color: #dbe4fb;
  --primary-btn-bg: #1855fb;
  --field-bg: #f4f8ff;
  --text-color: #2d2d2e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}
h1 {
  font-weight: 400;
}

.testiomonial {
  margin-top: 100px;
  display: grid;
  padding: 50px 100px;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--field-bg);
  height: 400px;
  justify-content: center;
}

.marks-icon {
  position: absolute;
  grid-area: 1 / 2 / 3 / 3;
  width: 40px;
  height: 40px;
  margin-left: 140px;
}

.review {
  position: relative;
  margin-top: 150px;
  grid-area: 1 / 2 / 4 / 4;
  width: 600px;
  height: 200px;
  margin-left: 100px;
  padding: 10px 20px;
}
.header {
  margin-top: 50px;
  grid-area: 1 / 2 / 3 / 3;
  width: 600px;
  height: 60px;
  margin-left: 200px;
}

@media (max-width: 767px) {
  .testimonial {
    display: flex;
    flex-direction: column;
  }
  .testimonial-img,
  .marks-icon {
    display: none;
  }
  .header {
    flex-direction: column;
    margin-bottom: 1rem;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .review {
    width: 80%;
    margin: 150px auto;
  }
}
